@model HairApplication.MVC.Models.AppointmentConfirmationViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/&#64;shoelace-style/shoelace@2.14.0/cdn/themes/light.css" />
    <link rel="stylesheet" href="~/css/light.css" />
    <link rel="stylesheet" href="~/css/Confirm.css" />
    <script type="module" src='https://cdn.jsdelivr.net/npm/&#64;shoelace-style/shoelace@2.14.0/cdn/shoelace-autoloader.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div>
        <form asp-action="Submit" asp-controller="Appointment">
            <input hidden name="ClientFirstName" value="@Model.ClientFirstName" />
            <input hidden name="ClientLastName" value="@Model.ClientLastName" />
            <input hidden name="ClientId" value="@Model.ClientId" />
            <input hidden name="ClientPhoneNumber" value="@Model.ClientPhoneNumber" />
            <input hidden name="HairStylistFirstName" value="@Model.HairStylistFirstName" />
            <input hidden name="HairStylistLastName" value="@Model.HairStylistLastName" />
            <input hidden name="HairStylistId" value="@Model.HairStylistId" />
            <input hidden name="DateTimeOfAppointment" value="@Model.DateTimeOfAppointment" />
            <sl-card class="card-header">
                <div slot="header">
                    <h3>Please Confirm This Appointment</h3>
                    <sl-icon name="check-circle" label="Check" class="icon-purple"></sl-icon>
                </div>
                <div class="flex-row">
                    <div class="flex-col">
                        <h2>Client</h2>
                        <p>@Model.ClientFirstName @Model.ClientLastName</p>
                        <p>@Model.ClientPhoneNumber</p>
                    </div>
                    <div class="flex-col">
                        <h2>Hair Stylist</h2>
                        <p>@Model.HairStylistFirstName @Model.HairStylistLastName</p>
                        <h4>@Model.DateTimeOfAppointment</h4>
                    </div>
                </div>
                <div slot="footer">
                    <a class="icon-purple" asp-area="" asp-controller="Appointment" asp-action="Schedule">Cancel</a>
                    <sl-button type="submit" variant="primary">Confirm</sl-button>
                </div>
            </sl-card>
        </form>
    </div>
</body>
