@model SalonSync.MVC.Models.StylistDetailViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/&#64;shoelace-style/shoelace@2.14.0/cdn/themes/light.css" />

<link href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />
<link rel="stylesheet" href="~/css/adminlte.min.css">
<link rel="stylesheet" href="~/css/light.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/Stylist.css" />

<head>
    <script type="text/javascript">
                        window.onload = function () {
                            const config = {
          type: 'line',
          data: data,
        };
                          const labels = Utils.months({count: 7});
                const data = {
                  labels: labels,
                  datasets: [{
                    label: 'My First Dataset',
                    data: [65, 59, 80, 81, 56, 55, 40],
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                  }]
                };

                        }
    </script>
    <script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
</head>
<html>
<body>
    <div class="col" style="width:80vw">
        <div class="row">
            <div class="col-md-4">
                <!-- Widget: user widget style 1 -->
                <div class="card card-widget widget-user">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-theme" style="color:white">
                        <h3 class="widget-user-username">@Model.HairStylist.FirstName @Model.HairStylist.LastName</h3>
                        <h5 class="widget-user-desc">Hair Stylist</h5>
                    </div>
                    <div class="widget-user-image">
                        <img class="img-circle elevation-2" src="@("/img/stylists/" + Model.HairStylist.ProfileImageURL)" alt="User Avatar">
                    </div>
                    <div class="card-footer">
                        <strong><i class="fas fa-book mr-1"></i> Education</strong>

                        <p class="text-muted">
                            @Model.HairStylist.Education
                        </p>
                        <hr>

                        <strong><i class="fas fa-scissors mr-1"></i> Experience</strong>

                        <p class="text-muted">@Model.HairStylist.Experience</p>

                        <hr>

                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                        <p class="text-muted">@Model.HairStylist.Location</p>

                        <hr>

                        <strong><i class="fas fa-pencil-alt mr-1"></i> Specialties</strong>

                        <p class="text-muted">
                            @Model.HairStylist.Specialties
                        </p>

                        <hr>

                        <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

                        <p class="text-muted">@Model.HairStylist.Notes</p>
                    </div>
                    <!-- /.widget-user -->
                </div>
                <!--/.card-->

            </div>
            <!--/.col-->
            <div class="col-md-8">
                <div class="card card-secondary card-tabs">
                    <div class="card-header p-0 pt-1 bg-theme-2">
                        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="upcoming-appts-tab" data-toggle="pill" href="#upcoming-appts-pane" role="tab" aria-controls="upcoming-appts-pane" aria-selected="true">Upcoming Appointments</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="past-appts-tab" data-toggle="pill" href="#past-appts-pane" role="tab" aria-controls="past-appts-pane" aria-selected="false">Past Appointments</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body" style="padding:0">

                        <div class="tab-content" id="vert-tabs-tabContent">
                            <div class="tab-pane fade show active" id="upcoming-appts-pane" role="tabpanel" aria-labelledby="upcoming-appts-tab">
                                <table class="table table-striped table-hover" id="upcoming-appts-table" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Client</th>
                                            <th>Phone Number</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var apt in Model.UpcomingAppointments)
                                        {
                                            <tr>
                                                <td>@apt.DateTimeOfAppointment.ToString("MM/dd/yyyy hh:mm tt")</td>
                                                <td>@apt.ClientFullName</td>
                                                <td>@apt.ClientPhoneNumber</td>
                                                <td><a style="color:darkgray" onclick="location.href='@Url.Action("Client","Information",new {clientId=apt.ClientId})'">Client Profile <i class="fa-solid fa-circle-arrow-right"></i></a></td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!--/.tab-pane-->
                            <div class="tab-pane fade" id="past-appts-pane" role="tabpanel" aria-labelledby="past-appts-tab">
                                <table class="table table-striped table-hover" id="past-appts-table" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Client</th>
                                            <th>Phone Number</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var apt in Model.PastAppointments)
                                        {
                                            <tr>
                                                <td>@apt.DateTimeOfAppointment.ToString("MM/dd/yyyy hh:mm tt")</td>
                                                <td>@apt.ClientFullName</td>
                                                <td>@apt.ClientPhoneNumber</td>
                                                <td>@Html.ActionLink("Client Info", "Client", "Information", new { clientId = apt.ClientId }, null)</td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!--/.tab-pane-->
                        </div>
                        <!--/.tab-content-->
                    </div>

                    @*<div class="card">
                        <div class="card-header border-0">
                        <div class="d-flex justify-content-between">
                        <h3 class="card-title">Online Store Visitors</h3>
                        <a href="javascript:void(0);">View Report</a>
                        </div>
                        </div>
                        <div class="card-body">
                        <div class="d-flex">
                        <p class="d-flex flex-column">
                        <span class="text-bold text-lg">820</span>
                        <span>Visitors Over Time</span>
                        </p>
                        <p class="ml-auto d-flex flex-column text-right">
                        <span class="text-success">
                        <i class="fas fa-arrow-up"></i> 12.5%
                        </span>
                        <span class="text-muted">Since last week</span>
                        </p>
                        </div>
                        <!-- /.d-flex -->

                        <div class="position-relative mb-4">
                        <canvas id="visitors-chart" height="200"></canvas>
                        </div>

                        <div class="d-flex flex-row justify-content-end">
                        <span class="mr-2">
                        <i class="fas fa-square text-primary"></i> This Week
                        </span>

                        <span>
                        <i class="fas fa-square text-gray"></i> Last Week
                        </span>
                        </div>
                        </div>
                        </div>
                        <!-- /.card -->*@

                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
            <div class="row">
            </div>
        </div>
    </div>
    <!--col-->

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src='https://cdn.jsdelivr.net/npm/&#64;shoelace-style/shoelace@2.14.0/cdn/shoelace-autoloader.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
    <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var successMsg = '@TempData["success-message"]';
               if (successMsg.length) {
                  toastr.success(successMsg);
               }
               var errorMsg = '@TempData["error-message"]';
               if (errorMsg.length) {
                  toastr.error(errorMsg);
               }
        });
        Object.assign(DataTable.defaults, {
            searching: false,
            ordering: false,
            lengthChange: false
        });
        new DataTable('#upcoming-appts-table', {
            pagingType: 'simple_numbers',
            pageLength: 8
        });
        new DataTable('#past-appts-table', {
            pagingType: 'simple_numbers',
            pageLength: 8
        });
    </script>
</body>
</html>