@model SalonSync.MVC.Models.StylistDetailViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/&#64;shoelace-style/shoelace@2.14.0/cdn/themes/light.css" />
<script type="module" src='https://cdn.jsdelivr.net/npm/&#64;shoelace-style/shoelace@2.14.0/cdn/shoelace-autoloader.js'></script>
<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
<link href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
<link rel="stylesheet" href="~/css/adminlte.min.css">
<link rel="stylesheet" href="~/css/light.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/Stylist.css" />
<html>
<body>
    <div class="row" style="width:80vw">
        <div class="col-md-5">
            <!-- Widget: user widget style 1 -->
            <div class="card card-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-theme" style="color:white">
                    <h3 class="widget-user-username">@Model.HairStylist.FirstName @Model.HairStylist.LastName</h3>
                    <h5 class="widget-user-desc">Hair Stylist</h5>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle elevation-2" src="~/img/stylists/profile-photo-modified.png" alt="User Avatar">
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-5 border-right">
                            <div class="description-block">
                                <h5 class="description-header">@Model.Clients.Count</h5>
                                <span class="description-text">Clients</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-7">
                            <div class="description-block">
                                <h5 class="description-header">@Model.UpcomingAppointments.Count</h5>
                                <span class="description-text">Appointments</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->

                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.widget-user -->
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Scheduled Appointments</h3>
                </div>
              </div>
              <div class="card-body">
                <div class="d-flex">
                  <p class="d-flex flex-column">
                    <span class="text-bold text-lg">820</span>
                    <span>Visitors Over Time</span>
                  </p>
                  <p class="ml-auto d-flex flex-column text-right">
                    <span class="text-success">
                      <i class="fas fa-arrow-up"></i> 12.5%
                    </span>
                    <span class="text-muted">Since last week</span>
                  </p>
                </div>
                <!-- /.d-flex -->

                <div class="position-relative mb-4">
                  <canvas id="visitors-chart" height="200"></canvas>
                </div>

                <div class="d-flex flex-row justify-content-end">
                  <span class="mr-2">
                    <i class="fas fa-square text-primary"></i> This Week
                  </span>

                  <span>
                    <i class="fas fa-square text-gray"></i> Last Week
                  </span>
                </div>
              </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Upcoming Appointments</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <table class="table table-striped table-hover" id="upcoming-appts-table" style="width:100%">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Client</th>
                                <th>Phone Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var apt in Model.UpcomingAppointments)
                            {
                                <tr>
                                    <td>@apt.DateTimeOfAppointment.ToString("MM/dd/yyyy hh:mm tt")</td>
                                    <td>@apt.ClientFullName</td>
                                    <td>@apt.ClientPhoneNumber</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="card" id="past-appointment-table">
                <div class="card-header">
                    <h3 class="card-title">Recent Appointments</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <table class="table table-striped table-hover" id="past-appts-table" style="width:100%">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Client</th>
                                <th>Phone Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var apt in Model.PastAppointments)
                            {
                                <tr>
                                    <td>@apt.DateTimeOfAppointment.ToString("MM/dd/yyyy hh:mm tt")</td>
                                    <td>@apt.ClientFullName</td>
                                    <td>@apt.ClientPhoneNumber</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
    <script>
        Object.assign(DataTable.defaults, {
            searching: false,
            ordering: false,
            lengthChange: false
        });
        new DataTable('#upcoming-appts-table', {
            pagingType: 'simple_numbers',
            pageLength: 5
        });
        new DataTable('#past-appts-table', {
            pagingType: 'simple_numbers',
            pageLength: 5
        });
    </script>
</body>
</html>